<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h2>Welcome to Metropolitan Car Dealer!</h2>
        </div>

        <img src="https://media.wired.com/photos/5a207b8740ed7f46060c7dda/master/w_2560%2Cc_limit/lucid-roundup-TA.jpg" class="img-fluid img-thumbnail">
      </div>
    </div>

<% include ../partials/footer.ejs %>


